.modal {
  width: 90%;
  background: rgb(36, 36, 36);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  padding: 10px 30px;
  border-radius: 10px;
  top: 20vh;
  left: 5%;
  z-index: 100;
}

@media (min-width: 768px) {
  .modal {
    width: 50rem;
    left: calc((100% - 50rem) / 2);
  }
}

.modal__header {
  padding: 0.5rem;
  color: orange;
  font-weight: 500;
  font-size: 18px;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

.modal__action-confirm {
  background: orange;
  color: white;
  font: inherit;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.25rem 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin-left: 4rem;
}
.modal__action-confirm:hover {
  background: rgb(255, 120, 0);
}

.modal__action-cancel {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: orange;
}